@charset 'utf-8';
@import url('/css/base.css');
@import url('/css/themify-icons.css');
@import url('//cdn.rawgit.com/puts-blog/NanumSquare/master/NanumSquare.css');

html,body,.wrap{height: 100%;}
.gnb{width: 80px; position: fixed; left: 0; top: 0; bottom: 0; background: #1d232a url(/images/gnb/shadow.png) repeat-y right top;}
.gnb .menu_btn{display: block; height: 80px; width: 100%; background: url(/images/gnb/menu_btn_off.png) no-repeat center center; background-size: 16px auto; transition: all .3s ease-in-out;}
.gnb .menu_btn.active{background-image: url(/images/gnb/menu_btn_on.png); transform: rotate(360deg);}
.gnb .gnb_list{display: block;}
.gnb .gnb_list .lst{display: block; position: relative;}
.gnb .gnb_list .lst .mn{display: block; width: 100%; height: 80px; background: no-repeat center center; background-size: 36px auto; position: relative; z-index: 2;}
.gnb .gnb_list .lst.lst01 .mn{background-image: url(/images/gnb/lst01.png);}
.gnb .gnb_list .lst.lst02 .mn{background-image: url(/images/gnb/lst02.png);}
.gnb .gnb_list .lst.lst03 .mn{background-image: url(/images/gnb/lst03.png);}
.gnb .gnb_list .lst.active:before{content: ''; width: 100%; height: 100%; background: url(/images/gnb/mn_active.png) no-repeat 6px 5px; position: absolute; left: 0; top: 0; z-index: 1;}
.container{padding-left: 80px; padding-right: 280px; height: 100%;}
.lnb{height: 100%; background: #282e36 url(/images/gnb/shadow.png) repeat-y right top;; width: 230px; float: left;}
.lnb .lnb_in{padding: 0 20px;}
.lnb .lnb_hd{color: #fff; font-size: 20px; font-weight: bold; height: 80px; line-height: 80px;}
.lnb .lnb_list {padding: 13px 0; border-bottom: 1px solid #343b42; border-color: rgba(224,228,234,.1);}
.lnb .lnb_list .lst{display: block; }
.lnb .lnb_list .lst .mn{padding: 13px 40px 13px 10px; font-size: 14px; color: #a0a4a7; display: block; position: relative; border-radius: 3px; transition: all 0.2s ease-in-out;}
.lnb .lnb_list .lst .mn .txt{display: block; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.lnb .lnb_list .lst .mn .num{position: absolute; right: 12px; top: 50%; margin-top: -6px; color: #fff; font-size: 11px; }
.lnb .lnb_list .lst.active .mn{background: #353d45; color: #fff;}
.lnb .lnb_list .lst:hover .mn{color: #fff;}
.sub_side{height: 100%; background: #2c333b; width: 360px; float: left;}
.sub_side .sside_hd{height: 80px; line-height: 80px; font-size: 14px; color: #787878; font-weight: normal; border-bottom: 1px solid #41474d; border-color: rgba(224,228,234,.1);}
.sub_side .sside_hd .txt{color: #fff; font-weight: bold; padding-left: 20px; display: inline-block; vertical-align: middle; max-width: 50%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.sub_side .sside_list{}
.sub_side .sside_list .lst{}
.sub_side .sside_list .lst .item{position: relative; display: block;}
.sub_side .sside_list .lst .item:after{content: ''; width: 3px; height: 100%; position: absolute; left: 0; top: 0; transition: all 0.2s ease-in-out;}
.sub_side .sside_list .lst:hover .item:after{background: #464c53;}
.sub_side .sside_list .lst.active .item{background: #252b31;}
.sub_side .sside_list .lst.active .item:after{background: #2b80ff;}
.sub_side .sside_list .lst .item .item_bx{font-size: 0; padding: 0 17px;}
.sub_side .sside_list .lst .item .item_bx .img_area{width: 25%; display: inline-block; vertical-align: middle; height: 100px; line-height: 100px; text-align: center; position: relative;}
.sub_side .sside_list .lst .item .item_bx .img_area .img{display: inline-block; vertical-align: middle; line-height: normal; overflow: hidden; border-radius: 50%;}
.sub_side .sside_list .lst .item .item_bx .img_area .img:after{content: ''; width: 60px; height: 1px; background: #41474d; position: absolute; left: 50%; margin-left: -30px; bottom: 0;}
.sub_side .sside_list .lst .item .item_bx .img_area .img img{max-width: 60px; width: 60px;}
.sub_side .sside_list .lst .item .item_bx .txt_list{width: 75%; display: inline-block; vertical-align: middle; line-height: 1.5;}
.sub_side .sside_list .lst .item .item_bx .txt_list dt{font-size: 16px; color: #fff; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.sub_side .sside_list .lst .item .item_bx .txt_list dd{font-size: 12px; color: #9e9fa2; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.contents .cont_hd{height: 80px; border-bottom: 1px solid #d3d5d9; line-height: 80px;}
.contents .cont_hd .tit{text-indent: 30px; display: inline-block; font-size: 15px; color: #515356;}
.contents .cont_hd .tit strong{font-weight: bold; color: #1d232a;}
.contents .cont_hd .cont_utl{float: right; line-height: normal; font-size: 0;}
.contents .cont_hd .cont_utl .cutl{width: 80px; height: 80px; display: inline-block; border-left: 1px solid #d3d5d9; background: no-repeat center center; transition: all 0.2s ease-in-out;}
.contents .cont_hd .cont_utl .cutl:hover{background-color: #f1f1f1;}
.contents .cont_hd .cont_utl .cutl.link{background-image: url(/images/common/cutl_link.png); background-size: 18px;}
.contents .cont_hd .cont_utl .cutl.prev{background-image: url(/images/common/cutl_prev.png); background-size: 9px;}
.contents .cont_hd .cont_utl .cutl.next{background-image: url(/images/common/cutl_next.png); background-size: 9px;}
.contents .cont_msg{padding: 26px 0;}
.contents .cont_msg .msg_bx{margin-bottom: 20px;}
.contents .cont_msg .msg_bx .msg_in{position: relative; padding: 0 96px;}
.contents .cont_msg .msg_bx .msg_in .msg_img{position: absolute; width: 96px; left: 0; top: 14px; text-align: center;}
.contents .cont_msg .msg_bx .msg_in .msg_img .img{width: 35px; height: 35px; display: inline-block; border-radius: 50%; overflow: hidden;}
.contents .cont_msg .msg_bx .msg_in .msg_img .img img{width: 100%;}
.contents .cont_msg .msg_bx .msg_in .msg_img .nm{font-size: 12px; color: #222; padding-top: 4px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 70%; margin: 0 auto;}
.contents .cont_msg .msg_bx .msg_in .msg_area, 
.contents .cont_msg .msg_bx .msg_in .msg_info{background: #fff; position: relative; border-radius: 4px; padding: 20px 25px; display: inline-block; min-width: 80px; min-height: 24px;}
.contents .cont_msg .msg_bx .msg_in .msg_area:after{content: ''; width: 7px; height: 12px; background: url(/images/common/msg_txt_area.png) no-repeat left top; background-size: 100%; position: absolute; left: -7px; top: 26px;}
.contents .cont_msg .msg_bx .msg_in .msg_area .txt{font-size: 16px; font-weight: normal; color: #222; line-height: 1.5; word-break: break-all;}
.contents .cont_msg .msg_bx .msg_in .msg_area .thumb{margin-bottom: 20px; display: block; text-align: center;}
.contents .cont_msg .msg_bx .msg_in .msg_area .thumb .img{border-radius: 4px; overflow: hidden; box-shadow: 4px 4px 21px rgba(0,0,0,0.26); display: inline-block;}
.contents .cont_msg .msg_bx .msg_in .msg_area .thumb .img img{max-width: 100%;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info{text-align: left;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info .pfinfo_in{position: relative; padding-left: 165px;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info .pfinfo_in .thumb{width: 140px; position: absolute; left: 0; top: 0; margin-bottom: 0; text-align: center;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info .pfinfo_in .txt_bx{padding-top: 7px;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info .pfinfo_in .txt_bx .txt dt{font-size: 17px; font-weight: bold;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info .pfinfo_in .txt_bx .txt dd{font-size: 15px; font-weight: normal; min-height: 22px;}
.contents .cont_msg .msg_bx.selfie.info .msg_in .pf_info .pfinfo_in .txt_bx .s_spec{padding: 10px 0; min-height: 23px;}
.contents .cont_msg .msg_bx.selfie .msg_in{text-align: right;}
.contents .cont_msg .msg_bx.selfie .msg_in .msg_img{left: auto; right: 0;}
.contents .cont_msg .msg_bx.selfie .msg_in .msg_area{background: #0084ff;}
.contents .cont_msg .msg_bx.selfie .msg_in .msg_area .txt{color: #fff;}
.contents .cont_msg .msg_bx.selfie .msg_in .msg_area:after{background-image: url(/images/common/msg_txt_area_b.png); left: auto; right: -7px;}
.as_pannl{position: fixed; width: 280px; right: 0; top: 0; bottom: 0; background: #fff;}
.as_pannl .asp_hd{border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.as_pannl .asp_hd .pannel_btn{height: 80px; float: right; width: 80px; background: url(/images/common/pannel_btn.png) no-repeat center center; background-size: 13px; border-left: 1px solid #e5e5e5; transition: all 0.2s ease-in-out;}
.as_pannl .asp_hd .pannel_btn:hover, .as_pannl .asp_hd .pannel_btn:focus{background-color: #f1f1f1;}
.as_pannl .asp_cont{text-align: center; padding: 37px 30px; border-bottom: 1px solid #e5e5e5;}
.as_pannl .asp_cont .img{border-radius: 50%; width: 120px; height: 120px; overflow: hidden; display: inline-block;}
.as_pannl .asp_cont .txts{padding-top: 25px;}
.as_pannl .asp_cont .txts .tit,
.as_pannl .asp_cont .txts .stit{font-weight: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.as_pannl .asp_cont .txts .tit{font-size: 20px; color: #293037; }
.as_pannl .asp_cont .txts .stit{font-size: 14px; color: #959799; line-height: 1.5; padding-top: 3px; display: block;}
.as_pannl .asp_listbx{padding: 20px 30px;}
.as_pannl .asp_list{font-size: 14px; text-align: right; font-weight: normal; padding: 20px 0; border-bottom: 1px solid #e5e5e5; line-height: 1.7;}
.as_pannl .asp_list:last-child{border-bottom: none;}
.as_pannl .asp_list dt{float: left; color: #696c70; margin-right: 5px;}
.as_pannl .asp_list dd{display: inline; color: #293037;}
.pt_perc{position: relative; padding-right: 50px; vertical-align: middle;}
.pt_perc .dots{display: block; height: 23px;}
.pt_perc .dots .ccl{display: inline-block; width: 6px; height: 6px; background: url(/images/common/perc_ccl_off.png) no-repeat center center; background-size: 100%;}
.pt_perc .dots .ccl.vm{background-image: url(/images/common/perc_ccl.png);}
.pt_perc .dots .ccl.v{background-image: url(/images/common/perc_ccl_v.png);}
.pt_perc .num{position: absolute; right: 0; top: 50%; font-size: 14px; color: #222; margin-top: -11px;}

.btn{border-radius: 3px; padding: 13px 25px; text-align: center; font-size: 12px; display: inline-block; vertical-align: middle;}
.btn.blue{background: #2263b0; color: #fff;}
.btn.ico:before, 
.btn.ico:after{font-family: 'themify'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.btn.ico.ico_link:before{content: "\e62d"; margin-right: 10px; vertical-align: middle;}

.s_label{display: inline-block; vertical-align: top; padding: 0 10px; line-height: 18px; height: 18px; padding-top: 1px; text-align: center; font-size: 11px; font-family: 'dotum';  border-radius: 3px; margin: 2px 0;}
.s_label.res{background: #28669c; color: #fff;}
.s_label.ie{background: #5bc0de; color: #fff;}
.s_label.js{background: #d9534f; color: #fff;}
.s_label.cms{background: #5cb85c; color: #fff;}
.s_label.hyb{background: #666; color: #fff;}
.s_label.tmc{background: #f0ad4e; color: #fff;}






